* {background-color: khaki;
    font-family: 'Biryani', sans-serif;
    font-size: 20px;}

header {display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;    
    position: fixed;
    z-index: 10;
    border: black dotted 2px;
    background-color: cornsilk;
           height:80px;
        
  
}

header span a {background-color: cornsilk; }
                
header span a:hover {background-color: rgb(230, 203, 168); padding: 5px;}

header span {padding: 5px; margin-right: 40px;
        font-weight: bold; background-color: cornsilk;}


main {padding-top: 100px;}

ol li {line-height: 2em;}

@media screen and (max-width: 800px) {
   
    * {font-size: 16px;}
    header {height: 70px; display: inline-flex; flex-direction: row; justify-content: space-around;}
    header span { padding-right: 3px; margin: 0;}
    header span a {font-size: 14px; margin-left: 2px}}